{% extends "base.html" %}
	{% block title %}
			About Us
	{% endblock %}
	{% block content %}
		<div class="container">
			<p align ="center"><b><font size="24"> WHO WE ARE? </font></b></p><br>
			<p style="font-size:33px">
			Book store is started with a vision to provide affordable reading. We provide titles like Network-Marketing, Self-Help,e-Books, Biographies etc.
			Our reading platform leverages tech to get people hooked on-to a very productive habit i.e. reading.</p><br>
			<p style="font-size:33px">We believe that all our reading needs are mostly time-bound and renting reading resources is a cost-efficient & greener alternative. <br>Why buy, if you can just read & return ?</p>
		</div>
		
	{% endblock %}
	